<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingke.shengtai" >

    <application
        android:name="com.yingke.shengtai.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_application"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yingke.shengtai.activity.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.CustomerMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.GuideListDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.GuideListDetailActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.BussinessListFragmentDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.SalesListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.SearchDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.LookPwActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.SaleMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.SaleSearchDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.SaleCustomerDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.BussinessWriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.RegistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.BussinessListFragmntAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.BussinessAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ListTwoActivity"
            android:label="@string/app_name"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ListThreeActivity"
            android:label="@string/app_name"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.RegistTwoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.CenterDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.TrackWriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.TrackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.AcountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ChangePassWordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.AlertDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ListActivity"
            android:label="@string/app_name"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.TermsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ShowBigImage"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ContextMenu"
            android:label="@string/app_name"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.BussinessUpdateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity> <activity
        android:name="com.yingke.shengtai.activity.CustomerCommentActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
    </activity>
        <activity
            android:name="com.yingke.shengtai.activity.CustomerComentWriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yingke.shengtai.activity.ChatActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 设置环信应用的appkey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="yingkelvshi#ykbes2015" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
